---
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const files = await Astro.glob("../../content/courses/*.md");
  return files.map(f => ({
    params: { slug: f.frontmatter.slug },
    props: { course: f }
  }));
}

const { course } = Astro.props;
const c = course.frontmatter;
---

<BaseLayout title={c.title} description={c.short_description}>
  <article class="container" itemscope itemtype="https://schema.org/Course">
    <h1 itemprop="name">{c.title}</h1>
    <img src={c.image} alt={c.title} />

    <div itemprop="description">{c.description}</div>

    <ul>
      <li>Instructor: {c.instructor}</li>
      <li>Duration: {c.duration}</li>
      <li>Difficulty: {c.difficulty}</li>
    </ul>
  </article>
</BaseLayout>
